.containerSub{
	display: block;
}

.color-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.status{
  --online-color: greenyellow;
  --offline-color: red;
  --starting-color: yellow;
  height: 200px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
  margin: 5px;
  border-radius: 5px;
}
#statusClient {
  background-color: var(--starting-color);
}

#statusWebServer {
  background-color: var(--starting-color);
}

#statusWebSocketServer{
  background-color: var(--starting-color);
}



.col{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.container-col{
  display: flex;
  flex-direction: column;
}

.container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-container span {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.text-container label {
  width: 150px; /* Adjust the width as needed */
  text-align: left;
  margin-right: 10px;
}

.text-container input {
  border: none;
  border-bottom: 1px solid black; /* Adjust color and thickness as needed */
  outline: none; /* Remove the default focus outline if desired */
}

